flow.json
[{"id":"3975961.cc7356a","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"24094151.b49fce","type":"inject","z":"3975961.cc7356a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["328a4a07.e92c06"]]},{"id":"328a4a07.e92c06","type":"openweathermap","z":"3975961.cc7356a","name":"Current weather","wtype":"current","lon":"","lat":"","city":"Ho Chi Minh City","country":"Vietnam","language":"en","x":280,"y":260,"wires":[["563c5a9.a9ee6a4","aa5c87c8.bddcd8","da653d44.7999d","21ff6bcf.2f57a4"]]},{"id":"563c5a9.a9ee6a4","type":"change","z":"3975961.cc7356a","name":"Set temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["35f6c389.123adc"]]},{"id":"129040ae.5f410f","type":"ui_text","z":"3975961.cc7356a","group":"f04b5cb2.0c2fd8","order":0,"width":0,"height":0,"name":"Temperature","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":260,"wires":[]},{"id":"aa5c87c8.bddcd8","type":"change","z":"3975961.cc7356a","name":"Set humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["edb5d7eb.594a38"]]},{"id":"ba78e432.f27f38","type":"ui_text","z":"3975961.cc7356a","group":"f04b5cb2.0c2fd8","order":1,"width":0,"height":0,"name":"Humidity","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":340,"wires":[]},{"id":"da653d44.7999d","type":"debug","z":"3975961.cc7356a","name":"Debug log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":500,"wires":[]},{"id":"21ff6bcf.2f57a4","type":"change","z":"3975961.cc7356a","name":"Set location","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.country","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":420,"wires":[["9c0719aa.ae7a38"]]},{"id":"9c0719aa.ae7a38","type":"ui_text","z":"3975961.cc7356a","group":"f04b5cb2.0c2fd8","order":2,"width":0,"height":0,"name":"","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":420,"wires":[]},{"id":"35f6c389.123adc","type":"function","z":"3975961.cc7356a","name":"Add symbol for temperature","func":"msg.payload = msg.payload + \"°C\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":260,"wires":[["129040ae.5f410f"]]},{"id":"edb5d7eb.594a38","type":"function","z":"3975961.cc7356a","name":"Add symbol for humidity","func":"msg.payload = msg.payload + \"%\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":340,"wires":[["ba78e432.f27f38"]]},{"id":"f04b5cb2.0c2fd8","type":"ui_group","name":"Default","tab":"7803e4b4.c49fd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"7803e4b4.c49fd4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]