Alarm_Clock/flows.json
[
  {
    "id": "b8b0d6e3.878d98",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e54b5ef9.7d938",
    "type": "inject",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "props": [
      { "p": "payload" },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 570,
    "y": 280,
    "wires": [ [ "8976be88.6128e" ] ]
  },
  {
    "id": "2fc8cae5.370fa6",
    "type": "json",
    "z": "b8b0d6e3.878d98",
    "name": "JSON Parser",
    "property": "payload",
    "action": "obj",
    "pretty": true,
    "x": 950,
    "y": 140,
    "wires": [ [ "ecfd9494.9a6978", "46512b22.0655a4" ] ]
  },
  {
    "id": "8976be88.6128e",
    "type": "file in",
    "z": "b8b0d6e3.878d98",
    "name": "Location",
    "filename": "D:\\ArduinoProject\\Alarm-Clock-Arduino\\Alarm_Clock\\data.json",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "utf8",
    "x": 760,
    "y": 140,
    "wires": [ [ "2fc8cae5.370fa6" ] ]
  },
  {
    "id": "ecfd9494.9a6978",
    "type": "function",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "func": "let temp = []\n\nfor (let key in msg.payload) {\n    if ((msg.payload).hasOwnProperty(key)) {\n        let opt = {};\n        opt[key] = key;\n        temp.push(opt);\n    }\n}\n\nmsg.options = temp;\n\nflow.set(\"data\", msg.payload)\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1160,
    "y": 140,
    "wires": [ [ "143147e8.431a38" ] ]
  },
  {
    "id": "906aefa8.07d85",
    "type": "function",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "func": "let tempData = flow.get(\"data\")[msg.payload];\n\nlet temp = []\n\nfor(let i=0; i<tempData.length; i++){\n    let opt = {};\n    opt[tempData[i]] = tempData[i];\n    temp.push(opt)\n}\n\nmsg.options = temp;\nflow.set(\"country\", msg.payload)\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1620,
    "y": 140,
    "wires": [ [ "46621de7.eb1214" ] ]
  },
  {
    "id": "3ef4716.e7e658e",
    "type": "change",
    "z": "b8b0d6e3.878d98",
    "name": "Set temperature",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.tempc",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1440,
    "y": 280,
    "wires": [ [ "3dc8bbe4.675ee4" ] ]
  },
  {
    "id": "eebb5efa.8ec3b",
    "type": "change",
    "z": "b8b0d6e3.878d98",
    "name": "Set humidity",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.humidity",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1430,
    "y": 360,
    "wires": [ [ "4229e2c7.9b69ac" ] ]
  },
  {
    "id": "1c8f8046.25904",
    "type": "change",
    "z": "b8b0d6e3.878d98",
    "name": "Set location",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "location.city",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1430,
    "y": 440,
    "wires": [ [ "f231fd82.f9456" ] ]
  },
  {
    "id": "3dc8bbe4.675ee4",
    "type": "function",
    "z": "b8b0d6e3.878d98",
    "name": "Add symbol for temperature",
    "func": "msg.payload = msg.payload + \"째C\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1680,
    "y": 280,
    "wires": [ [ "f577a14e.542d4" ] ]
  },
  {
    "id": "4229e2c7.9b69ac",
    "type": "function",
    "z": "b8b0d6e3.878d98",
    "name": "Add symbol for humidity",
    "func": "msg.payload = msg.payload + \"%\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1690,
    "y": 360,
    "wires": [ [ "c633feea.8603e" ] ]
  },
  {
    "id": "94def1d6.ea4f3",
    "type": "change",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "city",
        "pt": "flow",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2030,
    "y": 140,
    "wires": [ [] ]
  },
  {
    "id": "46512b22.0655a4",
    "type": "debug",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 990,
    "y": 260,
    "wires": []
  },
  {
    "id": "a1cbbae6.e646c8",
    "type": "ui_button",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "group": "2242a3b.bba505c",
    "order": 6,
    "width": "8",
    "height": "1",
    "passthru": false,
    "label": "Show Weather Data",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 560,
    "y": 540,
    "wires": [ [ "74a3d088.f0a96" ] ]
  },
  {
    "id": "143147e8.431a38",
    "type": "ui_dropdown",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "label": "Country",
    "tooltip": "",
    "place": "Select option",
    "group": "2242a3b.bba505c",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "",
        "value": "",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "options",
    "topicType": "msg",
    "x": 1380,
    "y": 140,
    "wires": [ [ "906aefa8.07d85" ] ]
  },
  {
    "id": "46621de7.eb1214",
    "type": "ui_dropdown",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "label": "City",
    "tooltip": "",
    "place": "Select option",
    "group": "2242a3b.bba505c",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "",
        "value": "",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "options",
    "topicType": "msg",
    "x": 1830,
    "y": 140,
    "wires": [ [ "94def1d6.ea4f3" ] ]
  },
  {
    "id": "f577a14e.542d4",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "d": true,
    "group": "2242a3b.bba505c",
    "order": 1,
    "width": "8",
    "height": "1",
    "name": "Temperature",
    "label": "Temperature",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1910,
    "y": 280,
    "wires": []
  },
  {
    "id": "c633feea.8603e",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "d": true,
    "group": "2242a3b.bba505c",
    "order": 2,
    "width": "8",
    "height": "1",
    "name": "Humidity",
    "label": "Humidity",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1920,
    "y": 360,
    "wires": []
  },
  {
    "id": "f231fd82.f9456",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "d": true,
    "group": "2242a3b.bba505c",
    "order": 3,
    "width": "8",
    "height": "1",
    "name": "",
    "label": "City",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1630,
    "y": 440,
    "wires": []
  },
  {
    "id": "c2a093ed.8274e",
    "type": "openweathermap",
    "z": "b8b0d6e3.878d98",
    "name": "Current weather",
    "wtype": "current",
    "lon": "",
    "lat": "",
    "city": "",
    "country": "",
    "language": "en",
    "x": 1060,
    "y": 640,
    "wires": [ [ "d095ce7b.b2ac3", "972f8030.d2216" ] ]
  },
  {
    "id": "74a3d088.f0a96",
    "type": "change",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "payload",
        "pt": "msg"
      },
      {
        "t": "set",
        "p": "location",
        "pt": "msg",
        "to": "{}",
        "tot": "json"
      },
      {
        "t": "set",
        "p": "location.city",
        "pt": "msg",
        "to": "city",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "location.country",
        "pt": "msg",
        "to": "country",
        "tot": "flow"
      },
      {
        "t": "set",
        "p": "payload.units",
        "pt": "msg",
        "to": "metrics",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "units",
        "pt": "flow",
        "to": "payload.units",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "hour12",
        "pt": "flow",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload.exclude",
        "pt": "msg",
        "to": "minutely",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 820,
    "y": 540,
    "wires": [ [ "c2a093ed.8274e" ] ]
  },
  {
    "id": "d00219d0.dfa7b8",
    "type": "ui_gauge",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "group": "f92e7447.efea98",
    "order": 15,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Humidity",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [ "#00b500", "#e6e600", "#ca3838" ],
    "seg1": "",
    "seg2": "",
    "x": 860,
    "y": 840,
    "wires": []
  },
  {
    "id": "a3127ee0.e57fe",
    "type": "ui_gauge",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "group": "f92e7447.efea98",
    "order": 14,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperature",
    "label": "degree Celsius",
    "format": "{{value}}",
    "min": "-100",
    "max": "100",
    "colors": [ "#00b500", "#e6e600", "#ca3838" ],
    "seg1": "",
    "seg2": "",
    "x": 850,
    "y": 740,
    "wires": []
  },
  {
    "id": "f5000f97.aaa64",
    "type": "mqtt in",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "topic": "room/temperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "9f101d0b.d466c",
    "x": 650,
    "y": 740,
    "wires": [ [ "a3127ee0.e57fe" ] ]
  },
  {
    "id": "33e4fed1.780262",
    "type": "mqtt in",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "topic": "room/humidity",
    "qos": "2",
    "datatype": "auto",
    "broker": "9f101d0b.d466c",
    "x": 630,
    "y": 840,
    "wires": [ [ "d00219d0.dfa7b8" ] ]
  },
  {
    "id": "972f8030.d2216",
    "type": "function",
    "z": "b8b0d6e3.878d98",
    "name": "Format current data",
    "func": "var icon = {};\n\nvar units = flow.get('units');\nif (units === undefined) {units = 'imperial';}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric', minute: '2-digit'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric', minute: '2-digit'});\n  }      \n}\n\nvar degreesToCardinal = function(deg){\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.tempk = msg.payload.tempk.toFixed() + ' K';\n  msg.payload.maxtemp = msg.payload.maxtemp.toFixed() + ' K';\n  msg.payload.mintemp = msg.payload.mintemp.toFixed() + ' K';\n  msg.payload.windspeed = msg.payload.windspeed.toFixed() + ' mph';\n}\nelse  // metric units\n{\n  msg.payload.tempc = msg.payload.tempc.toFixed(1) + ' 째C';\n  msg.payload.temp_maxc = msg.payload.temp_maxc.toFixed(1) + ' 째C';\n  msg.payload.temp_minc = msg.payload.temp_minc.toFixed(1) + ' 째C'\n  msg.payload.windspeed = msg.payload.windspeed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.winddirection = degreesToCardinal(msg.payload.winddirection);\n\nmsg.payload.sunrise = timeConvert(msg.payload.sunrise);\nmsg.payload.sunset = timeConvert(msg.payload.sunset);\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1370,
    "y": 760,
    "wires": [ [ "e657086c.974a38", "2fe13e1a.14f702", "b790aafc.966028", "ff888eec.a5cb6", "dccbcd4a.3c68a", "3fee0c86.b594c4", "d918ae6b.9a43f", "882ae590.b8b4a8" ] ]
  },
  {
    "id": "dccbcd4a.3c68a",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "group": "2242a3b.bba505c",
    "order": 11,
    "width": "4",
    "height": 1,
    "name": "SunsetTime",
    "label": "",
    "format": "<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.sunset}}",
    "layout": "row-center",
    "x": 1610,
    "y": 780,
    "wires": []
  },
  {
    "id": "ff888eec.a5cb6",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "group": "2242a3b.bba505c",
    "order": 10,
    "width": "4",
    "height": 1,
    "name": "SunriseTime",
    "label": "",
    "format": "<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.sunrise}}",
    "layout": "row-center",
    "x": 1610,
    "y": 740,
    "wires": []
  },
  {
    "id": "2fe13e1a.14f702",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "group": "2242a3b.bba505c",
    "order": 9,
    "width": "4",
    "height": 1,
    "name": "Wind",
    "label": "",
    "format": "{{msg.payload.windspeed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.winddirection}}",
    "layout": "row-center",
    "x": 1590,
    "y": 700,
    "wires": []
  },
  {
    "id": "e657086c.974a38",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "group": "2242a3b.bba505c",
    "order": 8,
    "width": "4",
    "height": 1,
    "name": "Temperature",
    "label": "",
    "format": "<p style=\"font-size: 200%\">{{msg.payload.tempc}}</p>",
    "layout": "row-center",
    "x": 1610,
    "y": 660,
    "wires": []
  },
  {
    "id": "b790aafc.966028",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "group": "2242a3b.bba505c",
    "order": 7,
    "width": "8",
    "height": 1,
    "name": "Description",
    "label": "Weather Detail",
    "format": "{{msg.payload.detail}}",
    "layout": "row-spread",
    "x": 1610,
    "y": 620,
    "wires": []
  },
  {
    "id": "d095ce7b.b2ac3",
    "type": "debug",
    "z": "b8b0d6e3.878d98",
    "name": "Debug log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1370,
    "y": 560,
    "wires": []
  },
  {
    "id": "3fee0c86.b594c4",
    "type": "debug",
    "z": "b8b0d6e3.878d98",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1610,
    "y": 560,
    "wires": []
  },
  {
    "id": "882ae590.b8b4a8",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "group": "2242a3b.bba505c",
    "order": 12,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Max Temperature",
    "format": "<p style=\"font-size: 200%\">{{msg.payload.temp_maxc}}</p>",
    "layout": "row-spread",
    "x": 1630,
    "y": 880,
    "wires": []
  },
  {
    "id": "d918ae6b.9a43f",
    "type": "ui_text",
    "z": "b8b0d6e3.878d98",
    "group": "2242a3b.bba505c",
    "order": 13,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Min Temperature",
    "format": "<p style=\"font-size: 200%\">{{msg.payload.temp_minc}}</p>",
    "layout": "row-spread",
    "x": 1630,
    "y": 940,
    "wires": []
  },
  {
    "id": "2242a3b.bba505c",
    "type": "ui_group",
    "name": "Weather Data",
    "tab": "773c1f5c.ca2f7",
    "order": 1,
    "disp": true,
    "width": "8",
    "collapse": false
  },
  {
    "id": "f92e7447.efea98",
    "type": "ui_group",
    "name": "Room Temperature and Humidity",
    "tab": "773c1f5c.ca2f7",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "9f101d0b.d466c",
    "type": "mqtt-broker",
    "name": "",
    "broker": "broker.mqtt-dashboard.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "773c1f5c.ca2f7",
    "type": "ui_tab",
    "name": "Alarm Clock Project IoT",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]