Alarm_Clock/flows.json
[{"id":"1ccd7cc0.f75783","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e1c4cde0.06f15","type":"inject","z":"1ccd7cc0.f75783","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":280,"wires":[["d81d15d1.278258"]]},{"id":"d1a60fb0.d5f98","type":"json","z":"1ccd7cc0.f75783","name":"JSON Parser","property":"payload","action":"obj","pretty":true,"x":950,"y":140,"wires":[["530e9eb6.17f1d","a27ff19.a5c551"]]},{"id":"d81d15d1.278258","type":"file in","z":"1ccd7cc0.f75783","name":"Location","filename":"C:\\Users\\ASUS\\Documents\\HCMUS\\git\\Alarm-Clock-Arduino\\Alarm_Clock\\data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":760,"y":140,"wires":[["d1a60fb0.d5f98"]]},{"id":"530e9eb6.17f1d","type":"function","z":"1ccd7cc0.f75783","name":"","func":"let temp = []\n\nfor (let key in msg.payload) {\n    if ((msg.payload).hasOwnProperty(key)) {\n        let opt = {};\n        opt[key] = key;\n        temp.push(opt);\n    }\n}\n\nmsg.options = temp;\n\nflow.set(\"data\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":140,"wires":[["9313edcd.c6d02"]]},{"id":"c8126c86.3b328","type":"function","z":"1ccd7cc0.f75783","name":"","func":"let tempData = flow.get(\"data\")[msg.payload];\n\nlet temp = []\n\nfor(let i=0; i<tempData.length; i++){\n    let opt = {};\n    opt[tempData[i]] = tempData[i];\n    temp.push(opt)\n}\n\nmsg.options = temp;\nflow.set(\"country\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":140,"wires":[["81b88cda.e5e24"]]},{"id":"52823393.ea95fc","type":"change","z":"1ccd7cc0.f75783","name":"Set temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":280,"wires":[["be2d92fd.ed398"]]},{"id":"84c8283d.2bacb8","type":"change","z":"1ccd7cc0.f75783","name":"Set humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":360,"wires":[["a8e560a6.48e75"]]},{"id":"44306925.b002a8","type":"change","z":"1ccd7cc0.f75783","name":"Set location","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.city","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":440,"wires":[["905d6a00.970a98"]]},{"id":"be2d92fd.ed398","type":"function","z":"1ccd7cc0.f75783","name":"Add symbol for temperature","func":"msg.payload = msg.payload + \"°C\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1680,"y":280,"wires":[["3105e24.735c21e"]]},{"id":"a8e560a6.48e75","type":"function","z":"1ccd7cc0.f75783","name":"Add symbol for humidity","func":"msg.payload = msg.payload + \"%\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1690,"y":360,"wires":[["935ec824.595848"]]},{"id":"befdc550.ab7ab8","type":"change","z":"1ccd7cc0.f75783","name":"","rules":[{"t":"set","p":"city","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2030,"y":140,"wires":[[]]},{"id":"a27ff19.a5c551","type":"debug","z":"1ccd7cc0.f75783","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":260,"wires":[]},{"id":"7f98da1b.5c45e4","type":"ui_button","z":"1ccd7cc0.f75783","name":"","group":"2242a3b.bba505c","order":6,"width":"6","height":"1","passthru":false,"label":"Show Weather Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":560,"y":540,"wires":[["5b437358.bb00dc"]]},{"id":"9313edcd.c6d02","type":"ui_dropdown","z":"1ccd7cc0.f75783","name":"","label":"Country","tooltip":"","place":"Select option","group":"2242a3b.bba505c","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"options","topicType":"msg","x":1380,"y":140,"wires":[["c8126c86.3b328"]]},{"id":"81b88cda.e5e24","type":"ui_dropdown","z":"1ccd7cc0.f75783","name":"","label":"City","tooltip":"","place":"Select option","group":"2242a3b.bba505c","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"options","topicType":"msg","x":1830,"y":140,"wires":[["befdc550.ab7ab8"]]},{"id":"3105e24.735c21e","type":"ui_text","z":"1ccd7cc0.f75783","d":true,"group":"2242a3b.bba505c","order":1,"width":"8","height":"1","name":"Temperature","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1910,"y":280,"wires":[]},{"id":"935ec824.595848","type":"ui_text","z":"1ccd7cc0.f75783","d":true,"group":"2242a3b.bba505c","order":2,"width":"8","height":"1","name":"Humidity","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":1920,"y":360,"wires":[]},{"id":"905d6a00.970a98","type":"ui_text","z":"1ccd7cc0.f75783","d":true,"group":"2242a3b.bba505c","order":3,"width":"8","height":"1","name":"","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":1630,"y":440,"wires":[]},{"id":"671540c8.c6b15","type":"openweathermap","z":"1ccd7cc0.f75783","name":"Current weather","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":1060,"y":640,"wires":[["d699b45e.2df868","a530255f.0cdaa8"]]},{"id":"5b437358.bb00dc","type":"change","z":"1ccd7cc0.f75783","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"location","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"location.city","pt":"msg","to":"city","tot":"flow"},{"t":"set","p":"location.country","pt":"msg","to":"country","tot":"flow"},{"t":"set","p":"payload.units","pt":"msg","to":"metrics","tot":"str"},{"t":"set","p":"units","pt":"flow","to":"payload.units","tot":"msg"},{"t":"set","p":"hour12","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":540,"wires":[["671540c8.c6b15","3235176d.ecba18"]]},{"id":"d17069da.7b1878","type":"ui_gauge","z":"1ccd7cc0.f75783","name":"","group":"bdd7eff3.6ac86","order":15,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"20","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":780,"wires":[]},{"id":"18431f25.c83df1","type":"ui_gauge","z":"1ccd7cc0.f75783","name":"","group":"bdd7eff3.6ac86","order":14,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degree Celsius","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":660,"wires":[]},{"id":"53246d34.dbda34","type":"mqtt in","z":"1ccd7cc0.f75783","name":"","topic":"room/temperature","qos":"2","datatype":"auto","broker":"e601988e.50b498","x":530,"y":660,"wires":[["18431f25.c83df1","6c07cfa7.28aa5"]]},{"id":"594d4824.faf1d8","type":"mqtt in","z":"1ccd7cc0.f75783","name":"","topic":"room/humidity","qos":"2","datatype":"auto","broker":"e601988e.50b498","x":530,"y":740,"wires":[["d17069da.7b1878","adfe7d19.54a19"]]},{"id":"a530255f.0cdaa8","type":"function","z":"1ccd7cc0.f75783","name":"Format current data","func":"var icon = {};\n\nvar units = flow.get('units');\nif (units === undefined) {units = 'imperial';}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric', minute: '2-digit'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric', minute: '2-digit'});\n  }      \n}\n\nvar degreesToCardinal = function(deg){\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.tempk = msg.payload.tempk.toFixed() + ' K';\n  msg.payload.maxtemp = msg.payload.maxtemp.toFixed() + ' K';\n  msg.payload.mintemp = msg.payload.mintemp.toFixed() + ' K';\n  msg.payload.windspeed = msg.payload.windspeed.toFixed() + ' mph';\n}\nelse  // metric units\n{\n  msg.payload.tempc = msg.payload.tempc.toFixed(1) + ' °C';\n  msg.payload.temp_maxc = msg.payload.temp_maxc.toFixed(1) + ' °C';\n  msg.payload.temp_minc = msg.payload.temp_minc.toFixed(1) + ' °C'\n  msg.payload.windspeed = msg.payload.windspeed.toFixed(1) + ' m/s';\n}\n\nmsg.payload.winddirection = degreesToCardinal(msg.payload.winddirection);\n\nmsg.payload.sunrise = timeConvert(msg.payload.sunrise);\nmsg.payload.sunset = timeConvert(msg.payload.sunset);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":760,"wires":[["dce796b4.82e8f8","6671ec85.2801b4","257c1740.aee4c8","e0b9d102.2cebb","c48f1672.1f7b18","bd7e3ed2.e1b22","5300b005.fd9fd","c8638f41.a229e"]]},{"id":"c48f1672.1f7b18","type":"ui_text","z":"1ccd7cc0.f75783","group":"2242a3b.bba505c","order":11,"width":"4","height":1,"name":"SunsetTime","label":"","format":"<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.sunset}}","layout":"row-center","x":1610,"y":780,"wires":[]},{"id":"e0b9d102.2cebb","type":"ui_text","z":"1ccd7cc0.f75783","group":"2242a3b.bba505c","order":10,"width":"4","height":1,"name":"SunriseTime","label":"","format":"<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.sunrise}}","layout":"row-center","x":1610,"y":740,"wires":[]},{"id":"6671ec85.2801b4","type":"ui_text","z":"1ccd7cc0.f75783","group":"2242a3b.bba505c","order":9,"width":"4","height":1,"name":"Wind","label":"","format":"{{msg.payload.windspeed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.winddirection}}","layout":"row-center","x":1590,"y":700,"wires":[]},{"id":"dce796b4.82e8f8","type":"ui_text","z":"1ccd7cc0.f75783","group":"2242a3b.bba505c","order":8,"width":"4","height":1,"name":"Temperature","label":"","format":"<p style=\"font-size: 200%\">{{msg.payload.tempc}}</p>","layout":"row-center","x":1610,"y":660,"wires":[]},{"id":"257c1740.aee4c8","type":"ui_text","z":"1ccd7cc0.f75783","group":"2242a3b.bba505c","order":7,"width":"6","height":1,"name":"Description","label":"Weather Detail","format":"{{msg.payload.detail}}","layout":"row-spread","x":1610,"y":620,"wires":[]},{"id":"d699b45e.2df868","type":"debug","z":"1ccd7cc0.f75783","name":"Debug log","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":560,"wires":[]},{"id":"5300b005.fd9fd","type":"ui_text","z":"1ccd7cc0.f75783","group":"2242a3b.bba505c","order":12,"width":0,"height":0,"name":"","label":"Max Temperature","format":"<p style=\"font-size: 200%\">{{msg.payload.temp_maxc}}</p>","layout":"row-spread","x":1630,"y":820,"wires":[]},{"id":"bd7e3ed2.e1b22","type":"ui_text","z":"1ccd7cc0.f75783","group":"2242a3b.bba505c","order":13,"width":0,"height":0,"name":"","label":"Min Temperature","format":"<p style=\"font-size: 200%\">{{msg.payload.temp_minc}}</p>","layout":"row-spread","x":1630,"y":860,"wires":[]},{"id":"27a48794.8d5818","type":"ui_text_input","z":"1ccd7cc0.f75783","name":"","label":"Email Address","tooltip":"","group":"e8310967.e67688","order":1,"width":0,"height":0,"passthru":true,"mode":"email","delay":"5000","topic":"","topicType":"str","x":1120,"y":960,"wires":[["dcc61632.056718"]]},{"id":"7534cbe0.674b24","type":"ui_switch","z":"1ccd7cc0.f75783","name":"","label":"Activate Alarm","tooltip":"","group":"e8310967.e67688","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":660,"y":1240,"wires":[["17e42de7.3f4cf2"]]},{"id":"961ffb89.891d28","type":"ui_dropdown","z":"1ccd7cc0.f75783","name":"","label":"Hour","tooltip":"","place":"Select hour","group":"e8310967.e67688","order":4,"width":"3","height":"1","passthru":true,"multiple":false,"options":[{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"},{"label":"4","value":4,"type":"num"},{"label":"5","value":5,"type":"num"},{"label":"6","value":6,"type":"num"},{"label":"7","value":7,"type":"num"},{"label":"8","value":8,"type":"num"},{"label":"9","value":9,"type":"num"},{"label":"10","value":10,"type":"num"},{"label":"11","value":11,"type":"num"},{"label":"12","value":12,"type":"num"},{"label":"13","value":13,"type":"num"},{"label":"14","value":14,"type":"num"},{"label":"15","value":15,"type":"num"},{"label":"16","value":16,"type":"num"},{"label":"17","value":17,"type":"num"},{"label":"18","value":18,"type":"num"},{"label":"19","value":19,"type":"num"},{"label":"20","value":20,"type":"num"},{"label":"21","value":21,"type":"num"},{"label":"22","value":22,"type":"num"},{"label":"23","value":23,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":690,"y":1160,"wires":[["e8f65881.8d5748"]]},{"id":"c1772644.f75818","type":"ui_dropdown","z":"1ccd7cc0.f75783","name":"","label":"Minute","tooltip":"","place":"Select minute","group":"e8310967.e67688","order":5,"width":"3","height":"1","passthru":true,"multiple":false,"options":[{"label":"00","value":0,"type":"num"},{"label":"05","value":5,"type":"num"},{"label":"10","value":10,"type":"num"},{"label":"15","value":15,"type":"num"},{"label":"20","value":20,"type":"num"},{"label":"25","value":25,"type":"num"},{"label":"30","value":30,"type":"num"},{"label":"35","value":35,"type":"num"},{"label":"40","value":40,"type":"num"},{"label":"45","value":45,"type":"num"},{"label":"50","value":50,"type":"num"},{"label":"55","value":55,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":690,"y":1320,"wires":[["81aa5535.6e2af8"]]},{"id":"beea79d3.4634b8","type":"ui_button","z":"1ccd7cc0.f75783","name":"","group":"e8310967.e67688","order":2,"width":"6","height":"1","passthru":false,"label":"Get Data from Email","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":1120,"y":1100,"wires":[["10833c62.3ad204"]]},{"id":"13745ada.bf00f5","type":"ui_button","z":"1ccd7cc0.f75783","name":"","group":"e8310967.e67688","order":6,"width":0,"height":0,"passthru":false,"label":"Set Alarm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"flow","topic":"topic","topicType":"msg","x":1120,"y":1240,"wires":[["c399f96.25e9808","8ba3be3c.4f781","791934e6.a89c5c"]]},{"id":"5c783be4.702404","type":"mqtt out","z":"1ccd7cc0.f75783","name":"","topic":"alarm/hour","qos":"","retain":"","broker":"e601988e.50b498","x":1530,"y":1160,"wires":[]},{"id":"861b9f92.a996d","type":"mqtt out","z":"1ccd7cc0.f75783","name":"","topic":"alarm/minute","qos":"","retain":"","broker":"e601988e.50b498","x":1530,"y":1320,"wires":[]},{"id":"2e56b5e9.3ca25a","type":"mqtt out","z":"1ccd7cc0.f75783","name":"","topic":"alarm/isActivated","qos":"","retain":"","broker":"e601988e.50b498","x":1550,"y":1240,"wires":[]},{"id":"e8f65881.8d5748","type":"function","z":"1ccd7cc0.f75783","name":"set hour global","func":"global.set(\"hour\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1160,"wires":[["13745ada.bf00f5"]]},{"id":"c399f96.25e9808","type":"function","z":"1ccd7cc0.f75783","name":"get hour","func":"msg.payload = global.get(\"hour\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":1160,"wires":[["5c783be4.702404"]]},{"id":"17e42de7.3f4cf2","type":"function","z":"1ccd7cc0.f75783","name":"set activation global","func":"global.set(\"isActivated\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1240,"wires":[["13745ada.bf00f5"]]},{"id":"81aa5535.6e2af8","type":"function","z":"1ccd7cc0.f75783","name":"set minute global","func":"global.set(\"minute\", msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":1320,"wires":[["13745ada.bf00f5"]]},{"id":"8ba3be3c.4f781","type":"function","z":"1ccd7cc0.f75783","name":"get activation","func":"msg.payload = global.get(\"isActivated\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":1240,"wires":[["2e56b5e9.3ca25a"]]},{"id":"791934e6.a89c5c","type":"function","z":"1ccd7cc0.f75783","name":"get minute","func":"msg.payload = global.get(\"minute\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":1320,"wires":[["861b9f92.a996d"]]},{"id":"3b92e593.14992a","type":"mqtt in","z":"1ccd7cc0.f75783","name":"","topic":"alarm/currentHour","qos":"2","datatype":"auto","broker":"e601988e.50b498","x":610,"y":900,"wires":[["e98f22b4.f253a","cac61c60.c1edf"]]},{"id":"88706f96.6ecee","type":"mqtt in","z":"1ccd7cc0.f75783","name":"","topic":"alarm/currentMinute","qos":"2","datatype":"auto","broker":"e601988e.50b498","x":610,"y":960,"wires":[["43bf4e45.3ca7f","cac61c60.c1edf"]]},{"id":"e98f22b4.f253a","type":"ui_text","z":"1ccd7cc0.f75783","group":"e8310967.e67688","order":7,"width":"3","height":"2","name":"Current Alarm Time","label":"Current Alarm Hour","format":"{{msg.payload}}","layout":"col-center","x":850,"y":880,"wires":[]},{"id":"43bf4e45.3ca7f","type":"ui_text","z":"1ccd7cc0.f75783","group":"e8310967.e67688","order":8,"width":"3","height":"2","name":"Current Alarm Minute","label":"Current Alarm Minute","format":"{{msg.payload}}","layout":"col-center","x":860,"y":960,"wires":[]},{"id":"c7056cda.a3a4d","type":"ui_template","z":"1ccd7cc0.f75783","group":"2242a3b.bba505c","name":"Forecast2","order":14,"width":"6","height":"2","format":"<div style=\"height: 100%; justify-content: center; align-items: center;\">\n <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell02}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell03}}\"></i></span>\n  <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell04}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell07}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell08}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell09}}\"></i></span>\n  <span flex style=\"color: #097479;text-align: center\"><i class=\"wi wi-owm-{{data.cell10}}\"></i></span>\n </div>\n <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n  <span flex style=\"color: white;text-align: center;\">{{data.cell01}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell02}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell03}}</span>\n  <span flex style=\"color: white;text-align: center\">{{data.cell04}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell07}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell08}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell09}}</span>\n  <span flex style=\"color: #097479;text-align: center\">{{data.cell10}}</span>\n </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1600,"y":920,"wires":[[]]},{"id":"3235176d.ecba18","type":"openweathermap","z":"1ccd7cc0.f75783","name":"Forecast weather","wtype":"forecast","lon":"","lat":"","city":"","country":"","language":"en","x":1070,"y":740,"wires":[["33cc898e.c544c6","12b3b427.81a0ac"]]},{"id":"33cc898e.c544c6","type":"debug","z":"1ccd7cc0.f75783","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1320,"y":680,"wires":[]},{"id":"12b3b427.81a0ac","type":"function","z":"1ccd7cc0.f75783","name":"Format forecast data","func":"var fcdata = {};\nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n    if (units == \"imperial\") {\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°F'\n        }\n    }\n    else { // metric\n        if (low){\n          temp = parseFloat(high).toFixed() + '/' + parseFloat(low).toFixed()\n        }\n        else {\n          temp = parseFloat(high).toFixed() + '°C'\n        }\n    }\n    return temp;\n}\n\nfunction dayName(unixTime){\n  var dateObject = new Date(unixTime * 1000);\n  return dateObject.toLocaleString(flow.get('lang'), { timezone: msg.payload.timezone, weekday: 'short'});\n  // If the line above is not producing the correct short weekday names for the language set by 'lang',\n  //   you can try upgrading to NodeJS version 13 or higher (when full international support was added for the toLocaleString function),\n  //   or you can use the code below which is an example for French short weekday names.\n/*  \n  switch (dateObject.toLocaleString('en', { timezone: msg.payload.timezone, weekday: 'short'})) {\n    case 'Mon':\n      return 'Lun';\n    case 'Tue':\n      return 'Mar';\n    case 'Wed':\n      return 'Mer';\n    case 'Thu':\n      return 'Jeu';\n    case 'Fri':\n      return 'Ven';\n    case 'Sat':\n      return 'Sam';\n    case 'Sun':\n      return 'Dim';\n  }\n*/\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric'}) + ':00';\n  }      \n}\n\n// prepare forecast data for CSS based ui widget\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload[5].dt),\n      cell02: timeConvert(msg.payload[6].dt),\n      cell03: timeConvert(msg.payload[7].dt),\n      cell04: timeConvert(msg.payload[8].dt),\n      cell07: dayName(msg.payload[10].dt),\n      cell08: dayName(msg.payload[20].dt),\n      cell09: dayName(msg.payload[30].dt),\n      cell10: dayName(msg.payload[39].dt),\n  \t},\n  \tdata02: {\n       cell01: formatTemp(msg.payload[5].main.temp),\n       cell02: formatTemp(msg.payload[6].main.temp),\n       cell03: formatTemp(msg.payload[7].main.temp),\n       cell04: formatTemp(msg.payload[8].main.temp),\n       cell07: formatTemp(msg.payload[10].main.temp_max, msg.payload[10].main.temp_min),\n       cell08: formatTemp(msg.payload[20].main.temp_max, msg.payload[20].main.temp_min),\n       cell09: formatTemp(msg.payload[30].main.temp_max, msg.payload[30].main.temp_min),\n       cell10: formatTemp(msg.payload[39].main.temp_max, msg.payload[39].main.temp_min),\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload[5].weather[0].icon,\n  \t\tcell02: msg.payload[6].weather[0].icon,\n  \t\tcell03: msg.payload[7].weather[0].icon,\n  \t\tcell04: msg.payload[8].weather[0].icon,\n  \t\tcell07: msg.payload[10].weather[0].icon,\n  \t\tcell08: msg.payload[20].weather[0].icon,\n  \t\tcell09: msg.payload[30].weather[0].icon,\n  \t\tcell10: msg.payload[39].weather[0].icon,\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":860,"wires":[["c7056cda.a3a4d"]]},{"id":"adfe7d19.54a19","type":"thingspeak42","z":"1ccd7cc0.f75783","d":true,"name":"TS: Humidity","delay":"15","topic1":"room/humidity","topic2":"","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":750,"y":720,"wires":[]},{"id":"6c07cfa7.28aa5","type":"thingspeak42","z":"1ccd7cc0.f75783","d":true,"name":"TS: Temperature","delay":"15","topic1":"room/temperature","topic2":"","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":770,"y":600,"wires":[]},{"id":"9687f4af.65c5e8","type":"thingspeak42","z":"1ccd7cc0.f75783","d":true,"name":"TS: Current Alarm Minute","delay":"15","topic1":"alarm/currentActivation","topic2":"","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":890,"y":1060,"wires":[]},{"id":"cac61c60.c1edf","type":"thingspeak42","z":"1ccd7cc0.f75783","d":true,"name":"TS: Current Alarm Hour","delay":"15","topic1":"alarm/currentHour","topic2":"alarm/currentMinute","topic3":"","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":870,"y":920,"wires":[]},{"id":"de80ea4.45a8e18","type":"mqtt in","z":"1ccd7cc0.f75783","name":"","topic":"alarm/currentActivation","qos":"2","datatype":"auto","broker":"e601988e.50b498","x":620,"y":1060,"wires":[["9687f4af.65c5e8"]]},{"id":"d4285773.f67fc8","type":"e-mail","z":"1ccd7cc0.f75783","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Email sender","x":1710,"y":1000,"wires":[]},{"id":"c8638f41.a229e","type":"function","z":"1ccd7cc0.f75783","name":"Message converter","func":"msg.payload = msg.payload.location + \".\\n\" +\n        \"Current weather: \" + msg.payload.weather + \".\\n\" +\n        \"Temperature: \" + msg.payload.tempc + \".\\n\" +\n        \"Humidity: \" + msg.payload.humidity + \"%\" + \".\\n\" +\n        \"Air pressure: \" + msg.payload.pressure + \"hPa\" + \".\\n\" +\n        \"Windpseed: \" + msg.payload.windspeed + \".\\n\" +\n        \"Wind direction: \" + msg.payload.winddirection + \".\\n\" +\n        \"Sunrise: \" + msg.payload.sunrise + \".\\n\" + \n        \"Sunset: \" + msg.payload.sunset + \".\\n\";\nflow.set(\"message\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":560,"wires":[[]]},{"id":"10833c62.3ad204","type":"change","z":"1ccd7cc0.f75783","name":"Convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"message","tot":"flow"},{"t":"set","p":"to","pt":"msg","to":"recipient","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"Current weather","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":1100,"wires":[["137bb884.4b1587","4b4dc257.a36bfc","d4285773.f67fc8"]]},{"id":"137bb884.4b1587","type":"debug","z":"1ccd7cc0.f75783","name":"Bla","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":1100,"wires":[]},{"id":"4b4dc257.a36bfc","type":"debug","z":"1ccd7cc0.f75783","name":"Ble","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"to","targetType":"msg","statusVal":"","statusType":"auto","x":1690,"y":1060,"wires":[]},{"id":"dcc61632.056718","type":"function","z":"1ccd7cc0.f75783","name":"","func":"flow.set(\"recipient\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":960,"wires":[[]]},{"id":"2242a3b.bba505c","type":"ui_group","name":"Default","tab":"773c1f5c.ca2f7","order":1,"disp":true,"width":"6","collapse":false},{"id":"bdd7eff3.6ac86","type":"ui_group","name":"Room Temperature and Humidity","tab":"773c1f5c.ca2f7","order":2,"disp":true,"width":"6","collapse":false},{"id":"e601988e.50b498","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8310967.e67688","type":"ui_group","name":"Alarm Time Picker","tab":"773c1f5c.ca2f7","order":3,"disp":true,"width":"6","collapse":false},{"id":"773c1f5c.ca2f7","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]