Alarm_Clock/flows.json
[{"id":"3975961.cc7356a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5118f538.01f9ac","type":"inject","z":"3975961.cc7356a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":520,"wires":[["4ff79f8b.1fbd5"]]},{"id":"2d54b7ed.fda018","type":"json","z":"3975961.cc7356a","name":"JSON Parser","property":"payload","action":"obj","pretty":true,"x":310,"y":140,"wires":[["fee2f298.f0a1b","fcf5abd1.0727b8"]]},{"id":"4ff79f8b.1fbd5","type":"file in","z":"3975961.cc7356a","name":"Location","filename":"E:\\Github\\Alarm-Clock-Arduino\\Alarm_Clock\\data.json","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":120,"y":140,"wires":[["2d54b7ed.fda018"]]},{"id":"fee2f298.f0a1b","type":"function","z":"3975961.cc7356a","name":"","func":"let temp = []\n\nfor (let key in msg.payload) {\n    if ((msg.payload).hasOwnProperty(key)) {\n        let opt = {};\n        opt[key] = key;\n        temp.push(opt);\n    }\n}\n\nmsg.options = temp;\n\nflow.set(\"data\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":140,"wires":[["9ae879cd.bd89d8"]]},{"id":"2ee5092f.d863e6","type":"function","z":"3975961.cc7356a","name":"","func":"let tempData = flow.get(\"data\")[msg.payload];\n\nlet temp = []\n\nfor(let i=0; i<tempData.length; i++){\n    let opt = {};\n    opt[tempData[i]] = tempData[i];\n    temp.push(opt)\n}\n\nmsg.options = temp;\nflow.set(\"country\", msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":140,"wires":[["43e02957.0da5d8"]]},{"id":"563c5a9.a9ee6a4","type":"change","z":"3975961.cc7356a","name":"Set temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":420,"wires":[["35f6c389.123adc"]]},{"id":"aa5c87c8.bddcd8","type":"change","z":"3975961.cc7356a","name":"Set humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":500,"wires":[["edb5d7eb.594a38"]]},{"id":"da653d44.7999d","type":"debug","z":"3975961.cc7356a","name":"Debug log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1360,"y":660,"wires":[]},{"id":"21ff6bcf.2f57a4","type":"change","z":"3975961.cc7356a","name":"Set location","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.country","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":580,"wires":[["9c0719aa.ae7a38"]]},{"id":"35f6c389.123adc","type":"function","z":"3975961.cc7356a","name":"Add symbol for temperature","func":"msg.payload = msg.payload + \"°C\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":420,"wires":[["129040ae.5f410f"]]},{"id":"edb5d7eb.594a38","type":"function","z":"3975961.cc7356a","name":"Add symbol for humidity","func":"msg.payload = msg.payload + \"%\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1630,"y":500,"wires":[["ba78e432.f27f38"]]},{"id":"9d9749d2.56c708","type":"change","z":"3975961.cc7356a","name":"","rules":[{"t":"set","p":"city","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":140,"wires":[[]]},{"id":"fcf5abd1.0727b8","type":"debug","z":"3975961.cc7356a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":260,"wires":[]},{"id":"7be9d605.719708","type":"ui_button","z":"3975961.cc7356a","name":"","group":"2242a3b.bba505c","order":6,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":590,"y":540,"wires":[["3d2f14ff.cb0c14"]]},{"id":"9ae879cd.bd89d8","type":"ui_dropdown","z":"3975961.cc7356a","name":"","label":"Country","tooltip":"","place":"Select option","group":"2242a3b.bba505c","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"options","topicType":"msg","x":740,"y":140,"wires":[["2ee5092f.d863e6"]]},{"id":"43e02957.0da5d8","type":"ui_dropdown","z":"3975961.cc7356a","name":"","label":"City","tooltip":"","place":"Select option","group":"2242a3b.bba505c","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"options","topicType":"msg","x":1190,"y":140,"wires":[["9d9749d2.56c708"]]},{"id":"129040ae.5f410f","type":"ui_text","z":"3975961.cc7356a","group":"2242a3b.bba505c","order":1,"width":0,"height":0,"name":"Temperature","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":1850,"y":420,"wires":[]},{"id":"ba78e432.f27f38","type":"ui_text","z":"3975961.cc7356a","group":"2242a3b.bba505c","order":2,"width":0,"height":0,"name":"Humidity","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":1860,"y":500,"wires":[]},{"id":"9c0719aa.ae7a38","type":"ui_text","z":"3975961.cc7356a","group":"2242a3b.bba505c","order":3,"width":0,"height":0,"name":"","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":580,"wires":[]},{"id":"328a4a07.e92c06","type":"openweathermap","z":"3975961.cc7356a","name":"Current weather","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":1060,"y":540,"wires":[["563c5a9.a9ee6a4","aa5c87c8.bddcd8","da653d44.7999d","21ff6bcf.2f57a4"]]},{"id":"3d2f14ff.cb0c14","type":"change","z":"3975961.cc7356a","name":"","rules":[{"t":"set","p":"location","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"location.city","pt":"msg","to":"city","tot":"flow"},{"t":"set","p":"location.country","pt":"msg","to":"country","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":540,"wires":[["328a4a07.e92c06"]]},{"id":"2242a3b.bba505c","type":"ui_group","name":"Default","tab":"773c1f5c.ca2f7","order":1,"disp":true,"width":"6","collapse":false},{"id":"773c1f5c.ca2f7","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]